
  <div class="modal fade" id="exempleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exempleModalCenter1Title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content" style="background-image: url(../assets/images/38.jpg);background-size: cover;background-repeat: no-repeat;font-weight: bold;">
           <div class="modal-header">
             <h5 class="modal-title" id="exempleModalCenter1Title"><em style="font-weight: bold;color:green">Associação De Jovens Companheiros Das Comunidades</em></h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="close">
               <span aria-hidden="true"></span>
             </button>
           </div>
          <div>
  
                <div *ngIf="descricaoServico">
                  <div class="modal-header"> 
                    <h5 class="text-center" style="text-align: center;border: red;color:green;font-weight: bold;text-decoration: underline;">{{servico}} !</h5>
                    <br><br>
                  </div>
 
                  <div class="modal-body">
                     <p class="container"> {{descricao}}</p>
                   </div>
                   <br>
                   <hr>
                   <p class="container"><span style="color:green">* </span> Para Usufruir desse 
                    Serviço deve Clicar em <span style="text-align: center;border: red;color:green;font-weight: bold;text-decoration: underline;">Aderir</span> onde vai inserir o <span style="text-align: center;border: red;color:green;font-weight: bold;text-decoration: underline;">Nº De Associado</span>, caso não tenha cria-o !</p>
                   <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="fecharForm()">Fechar</button>
                        <button type="button" class="btn btn-primary" (click)="acessar()">Aderir</button>
                   </div>
                </div>
                
                
                <div *ngIf="!descricaoServico">

                      <div *ngIf="progressBar" class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                      </div>

                      <div *ngIf="!progressBar">

                      <div *ngIf="entrarRef">
                        <div class="modal-header" *ngIf="tenhoReferencia"> 
                          <h5 class="text-center" style="text-align: center;border: red;">Entrar No Sistema !</h5>
                          <br><button type="button" class="btn btn-primary" (click)="sistema()">Entrar</button>
                          <button type="button" class="btn btn-warning" (click)="voltar()">Voltar</button>
                        </div>
       
                         <div *ngIf="!tenhoReferencia">
                          <div class="modal-body">
                            <form [formGroup]="associacao">
                                 <div *ngIf="msg2">
                                   <br><br>
                                   <h6 class="text-sucess" style="color: red;text-align: center;">&nbsp;O Nº De Associado Informado Não Existe! </h6>&nbsp;
                                   <br><a type="button" class="btn btn-primary container" (click)="estadoRerenciar('criar')">Criar</a>
                                   <br>
                                 </div>
       
                                  <div class="form-group row mt-3" >
                                    <label for="input" class="col-sm-2 col-form-label"><span style="color: green;font-size: 17px;">Nº De Associado</span></label>
                                    <input formControlName="referencia" name="referencia" type="password" class="form-control" id="input" placeholder="Digite O Seu Nº De Associado">
                                </div>
                                  <p>&nbsp;<a href="#" class="text-sucess" (click)="estadoRerenciar('criar')"> Ainda Não Tenho o Nº De Associado</a></p>
                              </form>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="fecharForm()">Fechar</button>
                              <button type="button" class="btn btn-primary" (click)="entrar()">Entrar</button>
                          </div>
                         </div>
                          
                      </div>
                       <div *ngIf="criarRef">
                                  
                        <div *ngIf="criarRef && esconderCriar">
    
                          <div class="modal-body" style="background-image: url(../assets/images/38.jpg);background-size: cover;background-repeat: no-repeat;font-weight: bold;color:white">
                            <form [formGroup]="associacao">
                              
                                <h4 style="color: white;">&nbsp;Criar Nº De Associado</h4> 
                                <br><br>
                                <h5 *ngIf="preencherFormulario" class="text-sucess" style="color: red;text-align: center;">Preencha os Campos Assinalados Com * </h5> 
                                <h5 *ngIf="msg" style="text-align: center;color: whitesmoke;">&nbsp;Nº De Associado Criado Com Sucesso, <span style="color: red;">{{numeroDeAssociado}}</span> é o seu Nº, guarde-o!</h5> 
                                <br>
                                <hr>
                                <div class="form-row">
                                      <div class="form-group col-md-6"> 
                                        <span style="color:red">*</span><label for="nome" class="col-sm-2 col-form-label" style="font-weight: bold;"><span class="text-sucess">Nome</span></label>
                                            <input formControlName="nome" name="nome" type="text" class="form-control" id="nome" placeholder="Digite Seu Nome" required>
                                        </div>
              
                                        <div class="form-group col-md-3">
                                          <span style="color:red">*</span><label for="idade" class="col-sm-2 col-form-label"><span class="text-sucess" style="font-weight: bold;">Idade</span></label>
                                          <input formControlName="idade" name="idade" type="number" class="form-control" id="idade" placeholder="Digite Sua idade" min="0" required>
                                      </div>
                                      <div class="form-group col-md-3">
                                        <span style="color:red">*</span><label for="data" class="col-sm-2 col-form-label"><span class="text-sucess" style="font-weight: bold;">Nascimento</span></label>
                                        <input formControlName="data" name="data" type="date" class="form-control" id="data" placeholder="Digite Sua data" required>
                                    </div>
                                          
                                </div>
                                <div class="form-row">
                                      <div class="form-group col-md-4"> 
                                        <span style="color:red">*</span><label for="provincia" class="col-sm-2 col-form-label" style="font-weight: bold;"><span class="text-sucess">provincia</span></label>
                                            <input formControlName="provincia" name="provincia" type="text" class="form-control" id="provincia" placeholder="Digite Sua Provincia" required>
                                        </div>
                                        <div class="form-group col-md-4"> 
                                          <span style="color:red">*</span><label for="municipio" class="col-sm-2 col-form-label" style="font-weight: bold;"><span class="text-sucess">Município</span></label>
                                          <input formControlName="municipio" name="municipio" type="text" class="form-control" id="municipio" placeholder="Digite Seu Municipio" required>
                                      </div>
                                      <div class="form-group col-md-4"> 
                                        <label for="bi" class="col-sm-2 col-form-label" style="font-weight: bold;"><span class="text-sucess">Bilhete</span></label>
                                        <input formControlName="bi" name="bi" type="text" class="form-control" id="bi" placeholder="Nº Do Bilhete De Identidade" required>
                                    </div>
                                  </div>
                                <fieldset class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                          <div class="form-check">
                                            <span style="color:red">*</span><label class="form-check-label" for="sexo">Sexo</label>&nbsp;
                                              <select class="form-control" formControlName="genero" name="genero">
                                                  <option value="Masculino">Masculino</option>
                                                  <option value="Femenino">Femenino</option>
                                              </select>
                                            </div>
                                              
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <hr>
                                    <br>
                                    <br>
    
                                    <div class="form-row">
    
                                      <div class="col-sm-4 col-md-4">
                                        <div class="form-check">
                                          <span style="color:red">*</span><label class="form-check-label" for="servico">Serviço</label>&nbsp;
                                            <select class="form-control" formControlName="servico" name="servico">
                                                <option value="Registo Nascimento / Bilhete">Registo Nascimento / Bilhete</option>
                                                <option value="Formação Profissional">Formação Profissional</option>
                                                <option value="Formação Académica">Formação Académica</option>
                                                <option value="Emprego">Emprego</option>
                                                <option value="Saúde">Saúde</option>
                                                <option value="Apoio Social E Acompanhamento">Apoio Social E Acompanhamento</option>
                                            </select>
                                          </div>
                                            
                                      </div>
                                        <div class="form-group col-md-4"> 
                                              <label for="profissao" class="col-sm-2 col-form-label" style="font-weight: bold;"><span class="text-sucess">Profissao</span></label>
                                              <input formControlName="profissao" name="profissao" type="text" class="form-control" id="profissao" placeholder="Digite Sua Profissão" required>
                                          </div>
                                          <div class="form-group col-md-3"> 
                                            <span style="color:red">*</span><label for="telefone" class="col-sm-2 col-form-label" style="font-weight: bold;"><span class="text-sucess">Telefone</span></label>
                                              <input formControlName="telefone" name="telefone" type="text" class="form-control" id="telefone" placeholder="Digite Seu Telefone" maxlength="9" required>
                                          </div>
                                          <div class="form-group col-md-6"> 
                                            <label for="email" class="col-sm-2 col-form-label" style="font-weight: bold;"><span class="text-sucess">Email</span></label>
                                            <input formControlName="email" name="email" type="email" class="form-control" id="email" placeholder="EX: nomesobrenome@gmail.com" required>
                                        </div>
                                        
                                    </div>
    
                                    <br>
                                    <div class="row">
                                      <div class="form-group col-md-6">
                                        <span style="color:red">*</span><label for="password" class="col-sm-2 col-form-label" style="font-weight: bold;"><span class="text-sucess">Palavra-Passe</span></label>
                                        <input title="Informe a Sua Senha Com No Máximo 8 Letras" maxlength="8" placeholder="No Máximo 8 letras" formControlName="password" name="password" type="password" class="form-control" id="password" required>
                                    </div>
                                  </div>
                                </fieldset>
                                
                              
                                <p>&nbsp;<a href="#" class="text-sucess" (click)="estadoRerenciar('entrar')">Já Tenho O Meu Nº De Associado</a></p>
                            </form>
                          </div>
    
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="fecharForm()">Fechar</button>
                                <button type="button" class="btn btn-primary" (click)="exibir()">Próximo</button>
                            </div>
                        </div>
    
                        <div *ngIf="criarRef && exibirContrato">
                              
                          <div class="modal-body">
                            <form [formGroup]="associacao">
                              
                              <h4 class="text-sucess" style="color: green;">&nbsp;Termo de Comprimisso</h4> 
                              <br><br>
                              <hr>
                              <p style="padding: 3%;"> Após ter lido o postulado ( Missão, Visão e Valores) da A.J.C.C, declaro de livre e espontânea vontade, honrar e cumprir as cláusulas do estatuto e de mais regulamentos internos da Associação, na sua íntigra em especial: </p>
                              <p style="color:green"> 1- A manutenção e observância da paz e da conduta social exemplar</p>
                              <p style="color:green"> 2- A participação nas actividades socio-cultural e a demais realizada pela A.J.C.C</p>
                              <p style="color:green"> 3- A comparticipação com a taxa de intermidiação de 1% de salário base mensal, retida na fonte pela entidade empregadora ou por via de depósito ou transferência bancária, a ser efectuado pelo associado, após a verificação e garantia de um posto de trabalho via associção.</p>
                              <br><br>
                              <p>&nbsp;<a href="#" class="text-sucess" (click)="estadoRerenciar('entrar')">Já Tenho O Meu Nº de Associado</a></p>
                            </form>
                          </div>
    
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="voltarCriar()">Voltar</button>
                                <button type="button" class="btn btn-primary" (click)="criarReferencia()">Criar</button>
                            </div>
                        </div>
                        
                        
                        </div>
                     </div>
                </div>
          </div>
           
       </div>
    </div>
  </div>

  <section class="section section-lg section-main-bunner section-main-bunner-filter text-center">
    <div class="main-bunner-img" style="background-image: url(../assets/images/22.jpeg); background-size: cover;"></div>
    <div class="main-bunner-inner">
      <div class="container">
        <div class="box-default">
          <em><br><h1 class="">O Que</h1><br><h3>Fazemos ?</h3></em>
          <div class="alert alert-warning" role="alert">
            <span style="color:white">Associação De Jovens Companheiros Das Comunidades - A.J.C.C</span>
          </div>
          <div class="box-default-decor"></div>
          <p class="big box-default-text">Servir o cidadão proporcionando-o a dignidade humana.</p>
        </div>
      </div>
    </div> 
  </section>

  <section class="section section-lg " style="margin-top: 10px;background-color: rgba(166, 166, 166, .5);">
    <div class="container">
      <div class="row row-50">
        <div class="col-lg-6 pr-xl-5">
          <div style="box-shadow: 1px 1px 4px black;" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="../assets/images/8.jpeg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../assets/images/10.jpeg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../assets/images/13.jpeg" alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Próximo</span>
            </a>
          </div>
        </div>
        <div class="col-lg-6" style="border-left: 3px solid indigo;padding-right: 6px;">
          <h2>Serviços</h2>
          <div class="text-with-divider">
            <div class="divider"></div>
            <h4>A nossa prioridade é estabelecer parcerias de modo a mitigar as assimetrias socias.</h4>
          </div>
          <p>Os nossos serviços consistem no apoio ao governo e seus parceiros nacionais e internacionais na implementação e execução eficaz de programas para o alcance dos objectivos de desenvolvimento sustentável, constante no plano de Desenvolvimento nacional (PDN), definido pelo executivo angolano em alinhamento com a agenda das Nações Unidas para a década 2020-2030, com foco, na redução da pobreza de modo a garantir a qualidade de vida e a integração social de todas as pessoas sem excepção.</p>
          <p></p>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-lg bg-default">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-md-9 col-lg-7 wow-outer">
          <div class="wow slideInDown">
            <h2>Nossos Serviços</h2>
            <p class="text-opacity-80">O foco da A.J.C.C singe essencialmente no dia-a-dia dos jovens cidadãos da comunidade, que lutam pela busca da sobrevivência e prosperidade familiar. É com este propósito, que definimos os 6 segmentos de serviços públicos e socias nomeadamente: <i style="text-decoration: underline;color: black;font-weight: bold;">Registo de Nascimento / Bilhete de Identidade, Formação Profissional, Formação Académica, Emprego, Saúde, Apoio social e Acompanhamento</i>, que visam atingir o desejado desiderato juvenil e o empoderamento da jovem mulher.</p>
          </div>
        </div>
      </div>
      <div style="background-color: rgba(166, 166, 166, .5);width: 100%;">
          <div class="row">
            <div class="col-md-6 col-lg-4 wow-outer">
              <div class="wow fadeInUp">
                <div class="product-featured">
                  <div class="product-featured-figure"><img src="../assets/images/1.jpg" alt="" width="370" height="395"/>
                    <div class="product-featured-button"><a class="button button-primary" href="#" data-toggle="modal" data-target="#exempleModalCenter1" (click)="aderir(1)">Aderir</a></div>
                  </div>
                  <div class="product-featured-caption">
                    <h4><a class="product-featured-title" style="color: indigo;">Registro De Nascimento / Bilhete De Identidade </a></h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow-outer">
              <div class="wow fadeInUp">
                <div class="product-featured">
                  <div class="product-featured-figure"><img src="../assets/images/3.jpg" alt="" width="370" height="395"/>
                    <div class="product-featured-button"><a class="button button-primary" href="#" data-toggle="modal" data-target="#exempleModalCenter1" (click)="aderir(2)">Aderir</a></div>
                  </div>
                  <div class="product-featured-caption">
                    <h4><a class="product-featured-title" style="color: indigo;">Formação Profissional</a></h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow-outer">
              <div class="wow fadeInUp">
                <div class="product-featured">
                  <div class="product-featured-figure"><img src="../assets/images/2.jpg" alt="" width="370" height="395"/>
                    <div class="product-featured-button"><a class="button button-primary" href="#" data-toggle="modal" data-target="#exempleModalCenter1" (click)="aderir(3)">Aderir</a></div>
                  </div>
                  <div class="product-featured-caption">
                    <h4><a class="product-featured-title" style="color: indigo;">Formação Académica</a></h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow-outer">
              <div class="wow fadeInUp">
                <div class="product-featured">
                  <div class="product-featured-figure"><img src="../assets/images/4.jpg" alt="" width="370" height="395"/>
                    <div class="product-featured-button"><a class="button button-primary" href="#" data-toggle="modal" data-target="#exempleModalCenter1" (click)="aderir(4)">Aderir</a></div>
                  </div>
                  <div class="product-featured-caption">
                    <h4><a class="product-featured-title" style="color: indigo;">Emprego</a></h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow-outer">
              <div class="wow fadeInUp">
                <div class="product-featured">
                  <div class="product-featured-figure"><img src="../assets/images/5.jpg" alt="" width="370" height="395"/>
                    <div class="product-featured-button"><a class="button button-primary" href="#" data-toggle="modal" data-target="#exempleModalCenter1" (click)="aderir(5)">Aderir</a></div>
                  </div>
                  <div class="product-featured-caption">
                    <h4><a class="product-featured-title" style="color: indigo;">Saúde</a></h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow-outer">
              <div class="wow fadeInUp">
                <div class="product-featured">
                  <div class="product-featured-figure"><img src="../assets/images/21.jpg" alt="" width="370" height="395"/>
                    <div class="product-featured-button"><a class="button button-primary" href="#" data-toggle="modal" data-target="#exempleModalCenter1" (click)="aderir(6)">Aderir</a></div>
                  </div>
                  <div class="product-featured-caption">
                    <h4><a class="product-featured-title" style="color: indigo;">Apoio Social e Acompanhamento</a></h4>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
    </div>
    </div>
  </section>
