
  <section class="section section-lg section-main-bunner section-main-bunner-filter text-center">
    <div class="main-bunner-img" style="background-image: url(../assets/images/10.jpeg); background-size: cover;"></div>
    <div class="main-bunner-inner">
      <div class="container">
        <div class="box-default">
          <em><br><h1 class="">Benefícios</h1><br><h3>Excelectes</h3></em>
          <div class="alert alert-warning" role="alert">
            <span style="color:white">Associação De Jovens Companheiros Das Comunidades - A.J.C.C</span>
          </div>
          <div class="box-default-decor"></div>
          <p class="big box-default-text">Servir o cidadão proporcionando-o a dignidade humana.</p>
        </div>
      </div>
    </div>
  </section>


  <section class="section section-lg bg-gray-1">
    <div class="container">
      <div class="row row-50">
        
        <div class="col-lg-6">
          <h2>Seus Benefícios</h2>
          <div class="text-with-divider">
            <div class="divider"></div>
            <h4>
              Assistência direta, conscientização, mobilização, esperança, transformação social, solidariedade, engajamento, empoderamento, inovação, impacto positivo.</h4>
          </div>
          <p>A A.J.C.C  oferece uma série de benefícios significativos para a sociedade. 
            Em primeiro lugar, a nossa organização tem como objetivo primordial ajudar os mais necessitados, 
            sejam eles afetados pela pobreza, doenças, desastres naturais ou outras circunstâncias adversas. 
            Além disso, as associações filantrópicas desempenham um papel fundamental na promoção de causas sociais,
             como educação, saúde, proteção ao meio ambiente e direitos humanos, buscando criar impacto positivo e 
             promover mudanças sociais significativas. </p>
          <p>Outro benefício é a mobilização da comunidade, uma vez que 
            reunimos voluntários e doadores, estimulando a solidariedade e a coesão 
            social. Além disso, contribuindo para a melhoria do bem-estar geral ao preencher lacunas em serviços 
            essenciais, complementando a atuação do governo e ajudando a aliviar a carga do Estado em algumas áreas. 
            Em suma, as associações filantrópicas desempenham um papel crucial na construção 
           de um mundo mais justo e inclusivo, trazendo esperança e apoio para aqueles que mais precisam.</p>
        </div>
        <div class="col-lg-6 pr-xl-5"><img class="img-thumbnail" src="../assets/../assets/images/14.jpeg" alt="" width="518" height="434"/>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg" style="background-color: rgba(166, 166, 166, .5);">
    <div class="container">
      <h2 class="text-center">Porquê Escolher-nos ?</h2>
      <div class="row row-30 row-md-60">
        <div class="col-md-6 col-lg-4">
          <div class="box-icon-modern">
            <div class="box-icon-inner decorate-triangle"><span class=""></span></div>
            <div class="box-icon-caption">
              <h4><a style="color:indigo">Registo De Nascimento / Bilhete De Identidade</a></h4>
              <p>Proporcionar o cidadão o direito a identidade e cidadania angolana.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box-icon-modern">
            <div class="box-icon-inner decorate-circle"><span class=""></span></div>
            <div class="box-icon-caption">
              <h4><a style="color:indigo">Formação Profissional</a></h4>
              <p>Dotar o cidadão de capacidades, habilidades e competências técnicas para um mercado de trabalho cada vez mais exigente e desafiador.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box-icon-modern">
            <div class="box-icon-inner decorate-rectangle"><span class=""></span></div>
            <div class="box-icon-caption">
              <h4><a style="color:indigo">Formação Académica</a></h4>
              <p>Colaborar na realização de um desejo pessoal do cidadão.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box-icon-modern">
            <div class="box-icon-inner decorate-circle"><span class=""></span></div>
            <div class="box-icon-caption">
              <h4><a style="color:indigo">Emprego</a></h4>
              <p>intermediar junto dos parceiros socias para a realização Profissional do jovem por meio do emprego ou empreendedorismo.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box-icon-modern">
            <div class="box-icon-inner decorate-triangle"><span class=""></span></div>
            <div class="box-icon-caption">
              <h4><a style="color:indigo">Patrocínio Judicial</a></h4>
              <p>Apoiar o jovem associado, em matéria de âmbito judicial, quando em conflito com a lei, através de Departamento Jurídico ou Parceiro da A.J.C.C .</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box-icon-modern">
            <div class="box-icon-inner decorate-rectangle"><span class=""></span></div>
            <div class="box-icon-caption">
              <h4><a style="color:indigo">Patrocínio de Consultoria Contabilística e Fiscal</a></h4>
              <p>Consiste em proporcionar o apoio contabilístico e fiscal, ao Associado, Particular, ou Pessoa Colectiva na constituição de empresa, criação de cooperativas e Processo Fiscal.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
